:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --white: #ffffff;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body{
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

.formulario{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(73, 95, 90, 0.479);
    border-radius: 10px;
}
.formulario label{
  color:  white;
}
.formulario input{
  width: 100%;
  padding: 6px 2;
  color: rgb(3, 3, 3);
  border: none;
  margin-bottom: 10px;
}
.btn-modificar[type='submit']{
  background-color: #0f90c4;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  margin-top: 30px;
  margin-right: 120px;
  border-radius: 5px;
}

.btn-botones{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.btn-nuevo-carro{
  margin-top: 40px;
}