@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #feffff;
  font-family: 'Open Sans', sans-serif;
}
.tabla-ventas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.tabla-ventas h1 {
  background-color: #d4e2d6;
  border-radius: 5px;
  padding: 4px;
 
}
table {
  background: #bbc7c4;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #ffffff;
  color: #026327;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: rgb(0, 0, 0);
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #f8f8f8;
}
tbody tr {
  transition: 0.25s ease;
}
tbody tr:hover {
  background: #98c5a0;
}