
#mensajesdeerror
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}
/*alertas*/
.alerta {
  position: fixed;
  top: 100px;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  
}
.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  color: rgb(238, 11, 11);
}
